@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

main {
    background-image: url("../imagens/fundo-madeira.jpg");
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../imagens/frame-iphone.png") no-repeat;
    width: 311px;
    height: 627px;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 267px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.377);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.603);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    transition: transform 0.3s, border 0.3s, box-shadow 0.3s;
}

#logo-whats {
    background-color: white;
}